.App {
  text-align: center;
  font-family: "Marcellus", serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style: none;
}
.component-page {
  display: flex;
  justify-content: Right;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(14, 105, 64); */
}

.individual-book {
  display: flex;
  align-items: center;
  /* background-color: darkslateblue; */
}

.radio-form {
  display: inline;
  /* background-color: rgb(55, 39, 174); */
}
.hero {
  /* background-image: url("../public/bookshelfhero.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-position: 50% 50%; */
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../public/bookshelfhero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(80%);
}
.hero-text {
  color: white;
  /* margin: 0.625rem; */
  /* height: 25%;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  position: relative;
  text-align: center;
  font-size: 3rem;
  /* top: 10%;
  left: 5%; */
}
