.component-page {
  display: "flex";
  justify-content: "Right";
  height: "100vh";
  flex-direction: "column";
  align-items: "center";
  background-color: blue;
}

.individual-book {
  display: "flex";
  align-items: "center";
}

.radio-form {
  display: "inline";
  background-color: tomato;
}
